.menu {
    &__list {
        min-height: 100vh;
        padding: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: 34px;
    }
}