.header {
    background-color: rgba(0,0,0, .5);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    z-index: 1;
    width: 100%;
    &__link {
        display: flex;
        margin-right: 40px;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
    }
    &__link:hover {
        color: rgb(27, 143, 33);
    }
    &__cart {
        width: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .header__link {
        margin-right: 18px;
        font-size: 14px;
    }
}